/* Style all pages */

.fondo {
    background-color: rgb(255, 255, 255);
}

.cabecero {
    text-align: center;
    list-style: none;
}

li {
    display: inline;
    margin-left: 150Px;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
}

.caberoList1 {
    margin-left: 25%;
}

.caberoList3 {
    margin-right: 25%;
}

a {
    text-decoration: none; 
    padding: 20px 20px;
    background-color: rgb(230, 61, 61);
    border-radius: 20px;
    color:rgb(0, 0, 0);
}

a:hover {
    background-color: rgb(245, 113, 6);
}

footer {
    text-align: center;
    margin-top: 20px;
}

section {
    padding-top: 2%;
}

/* Style contact page */
form {
    display: flex;
    flex-direction: column;
    margin-left: 25%;
    margin-right: 25%;
}
input {
    margin-top: 2%;
    border: none;
    border-bottom: 1px solid red;
    text-align: center;
}

textarea {
    margin-top: 1%;
    border: 1px solid red;
    text-align: center;
}

button {
    margin-top: 1%;
}

input:focus-visible {
    outline:none;
}

textarea:focus-visible {
    outline:none;
}

.izquierda {
    width: 49%;
}
.derecha {
    width:50%;
    margin-left: 50%;
    margin-top: -2.5%;
}
.derecha2 {
    width:50%;
    margin-left: 50%;
    margin-top: -2.9%;
}
/* Style index page */